body {
    width: 100vw;
}

* {
    margin: 0%;
    padding: 0%;
}

.HeaderContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    background-color: #1f2937;
    margin: 0;
    align-items: center;
}

.HeaderLogo {
    padding-left: 15vw;
    color: #f9faf8;
    font-size: 24px;
}

.HeaderLinks{
    display: flex;
    gap: 2vw;
    margin-right: 15vw;
    font-size: 18px;
}

.HeaderLinks a {
    color: #e5e7eb;
    text-decoration: none;
}

.HeaderLinks a:hover {
    color: #cccdcf;
}

.TopFeatureSection .FeatureRight img {
    width: 350px;
}

.TopFeatureSection {
    background-color: #1f2937;
    display: flex;
    padding: 5vw 15vw;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-between;
    gap: 20vw;
    max-height: 800px;
}

.FeatureLeft{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 10px;
    justify-content: center;
}


.FeatureLeft button {
    width: 100px;
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    padding: 5px;
    border-radius:  8px;
}

.FeatureRight {
    display: flex;
    align-items: center;
}

.MidPicturesSection {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 48px;
    align-items: center;
    gap: 32px;    
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    padding-left: 15vw;
    padding-right: 15vw;
}

.MidPicturesSection .Chord{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: medium;
    font-weight: 300;
}

.ChordDiagramContainer{
    display: flex;
    justify-content: space-between;
    align-content: space-between;

}

.QuoteSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 36px;
    padding-bottom: 36px;
}

.Quoter {
    align-self: flex-end;
    margin-top: 20px;
}

button:hover {
    background-color: #317df7;
}

button:active{
    background-color: #176df7;
}

.FeatureTitle{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.FeatureSub{
    color: #e5e7eb;
    font-size: 18px;
    
}


.ChordDiagramContainer img {
    height: 300px;
}

a {
    text-decoration: none;
}